
select,input,textarea {
    border-style: solid;
    border-color: #c0c0c0;
    font-size: 1.3em;
    border-radius: 5px;
    display: block;
    margin-bottom: 1em;
    padding: 1%;
    text-align: center;
    background: white;
}
input:required {
    background:#F6CED8;
}

#header form, #header input {
    display: inline ;
}

#ricerca input, #ricerca select {
    display: inline-block;
}

#mappa form, #mappa input {
    display: inline ;
    font-size: 1em;
}

#stato {
    padding: 0%;
    margin:0px;
    padding-top: 5px;
    display:inline !important;
}

#stato input {
    font-size: 1em;
    border-radius: 4px;
    margin-top: 8px;
    background:#c0c0c0 !important;
}


textarea {
    text-align: left;
}

input:focus {
    border-color: blue;
}

legend {
    font-size: 1.3em;
}

.ok{
    border-color: green !important;
}
.notok{
    border-color: red !important;
    border-size:2px !important;
}



/*  classi di seguito trovate sul web */
.error,
.alert,
.notice,
.success,
.info 			{ padding: 0.8em; margin-bottom: 1em; border: 2px solid #ddd; }

.error, .alert { background: #fbe3e4; color: #8a1f11; border-color: #fbc2c4; }
.notice     { background: #fff6bf; color: #514721; border-color: #ffd324; }
.success    { background: #e6efc2; color: #264409; border-color: #c6d880; }
.info 			{ background: #d5edf8; color: #205791; border-color: #92cae4; }
.error a, .alert a { color: #8a1f11; }
.notice a   { color: #514721; }
.success a  { color: #264409; }
.info a			{ color: #205791; }
