/**
	FINE AGGIUNTE COMPITO 3
*/

* {
	margin: 0 auto;
}

html {	
	background-image: linear-gradient(
		to right,
		hsl(0, 0%, 90%) 0%,
		hsl(0, 0%, 100%) 50%,
		hsl(0, 0%, 90%) 100%
	);
}

body {
/*	background-image:url('../img/sfondo.jpg');
	background-repeat:  repeat;
*/
	font-family: Helvetica;
	margin-top: 5%;
}

div#centering {
	width: 90%;
}

#header {
	width: 100%;
	min-height: 190px;
	background: white;
	background-image: url('../img/logo.png');
	background-repeat:no-repeat;
	background-position:right center;
	border: 2px dashed #0b3861;
}

#menu {
	padding: 2%;
	width: 100%;
	position: fixed;
	top:0;
	height: 3%;
	background: blue;
	border-right: 2px dashed #0b3861;
	border-left: 2px dashed #0b3861;
}

ul.menu {
	list-style-type: none;
}
ul.menu li {
	display: inline;
}
#middle {

	width: 100%;
	background: white;
	border-right: 2px dashed #0b3861;
	border-left: 2px dashed #0b3861;
	padding: 2%;

}

#footer {
	width: 100%;
	background: white;
	border: 2px dashed #0b3861;
	border-top: 0;
	padding: 2%;
}